@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Kolker+Brush&display=swap');
@import "src/assets/styles/vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: $color-scroll transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: $color-scroll;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  width: 6px;
}

body {
  font-family: 'Inter', sans-serif;
  color: $color-text;
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: none;
}

input, textarea {
  color: inherit;
  font-family: 'Inter', sans-serif;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ss-scroll {
  background: $color-scroll!important;
}
