$color-main: #B34EE9;

$color-text: #B3B3B3;
$color-text-light: #FFFFFF;
$color-placeholder: #777777;
$color-text-button: #000000;


$color-bg-nav: #000000;
$color-bg-footer: #000000;
$color-bg-search-type: #232323;
$color-bg-more: #282828;
$color-bg-main: #121212;
$color-bg-side: #181818;
$color-bg-input: #333333;
$color-bg-button: #FFFFFF;
$color-bg-header: linear-gradient(to bottom, #545454, #2A2A2A 350px, $color-bg-main 500px);
$color-bg-body: rgba($color-bg-main, 0.3);
$color-scroll: rgba(130, 130, 130, 0.2);

//media
$color-bg-header-media: linear-gradient(to bottom, #545454, #2A2A2A 100px, $color-bg-main 200px);
$color-bg-header-media2: linear-gradient(to bottom, #545454, #2A2A2A 200px, $color-bg-main 300px);
$color-bg-nav-media: linear-gradient(to bottom, #121212, #000 50%, #000 100%);
$border-input-media: 0.1px solid $color-text;

